<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>animal 입력</h1>
    <form method="post" action="./insert">
        <label for="name">동물이름 : </label><input type="text" id="name" name="name" value="" maxlength="30"/>
        <label for="age">동물나이 : </label><input type="number" id="age" name="age" value="" maxlength="3"/>
        <label for="kind">동물종류 : </label><input type="text" id="kind" name="kind" value="" maxlength="30"/>
        <input type="submit" value="동물추가"/>
    </form>
</body>
</html>