<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>수영장 홈페이지 메인 화면</title>
<script>

    $(document).ready(function(){
        $.loadData();

        $('#swimmerAddBtn').click(function () {
            $('#swimmerAdd').fadeIn(1000);
            $('.swimmer_bg').fadeIn(1000);
        });

        $('.swimmerAddBtn').click(function () {
            $('#swimmerAdd').fadeOut();
            $('.swimmer_bg').fadeOut();
        });
    });
    $.loadData = function () {
        $.ajax({
            url: '/swim/list',
            method: 'GET'
        }).done(function(data, textStatus, jqXHR) {
            console.log("Success:", data.responseData);
            $.printList(data.responseData);
        }).fail(function(jqXHR, textStatus, errorThrown) {
            console.log("Error:", textStatus, errorThrown);
        });
    };
    $.printList = function(data) {
        $("#swimListAll").empty();
        for( let i = 0; i < data.length; i++ ) {
            let item = data[i];
            let one = `<div onclick="$.getOne(${item.id});"><span class="d-block small opacity-50">이름 : ${item.name}</span><span class="d-block small opacity-50">닉네임 : ${item.nickName}</span></div>`;
            $("#swimListAll").append(one);
        }
    }


    $.insert = function() {
        let dataMember = {
            "userId": $("#userId").val(),
            "name": $("#name").val(),
            "ranes": $("#ranes").val(),
            "rane_type": $("#rane_type").val(),
            "phone_number": $("#phone_number").val(),
            "email": $("#email").val()
        };

        $.ajax({
            url: '/member/insert',
            type: "POST",
            data: JSON.stringify(dataMember),
            datatype: "JSON",
            contentType: 'application/json',
        }).done(function(data, textStatus, jqXHR) {
            console.log("Success:", data.responseData);
            $.loadData();
            $.clearInputForm();
            $(".SwCloseButton").trigger("click");
        }).fail(function(jqXHR, textStatus, errorThrown) {
            console.log("Error:", textStatus, errorThrown);
        });
    };
    $.clearInputForm = () => {
        $("#userId").val("");
        $("#name").val("");
        $("#ranes").val("");
        $("#rane_type").val("");
        $("#phone_number").val("");
        $("#email").val("");
    }
</script>
</head>
<body>
<div class="wrap">
    <div class="content">
        <h1>수영장 정보를 확인 할 수 있습니다.</h1>
       <div id = "swimListAll"></div>
        <div>
            <button id="swimmerAddBtn">데이터 추가</button>
        </div>
        <div id="swimmerAdd" style="display: none">
            <h2>회원 정보 추가</h2>
            <fieldset>
                <div class="row">
                    <div for="userId">아이디 :</div>
                    <input type="text" id="userId" name="userId" maxlength="20"/></div>
                <div class="row">
                    <div for="name">이름 :</div>
                    <input type="text" id="name" name="name" maxlength="20"/></div>
                <div class="row">
                    <div for="ranes">레인 번호 :</div>
                    <input type="text" id="ranes" name="ranes" maxlength="20"/></div>
                <div class="row">
                    <div for="rane_type">레인 타입 :</div>
                    <input type="text" id="rane_type" name="rane_type" maxlength="30"/></div>
                <div class="row">
                    <div for="phone_number">전화 번호 :</div>
                    <input type="text" id="phone_number" name="phone_number" maxlength="30"/></div>
                <div class="row">
                    <div for="email">이메일 :</div>
                    <input type="text" id="email" name="email" maxlength="30"/></div>
                <div class="row">
                    <button onclick="">추가확인</button>
                    <button class="SwCloseButton">닫기</button>
                </div>
            </fieldset>
        </div>
        <div>
            <div class="swimmer_bg" style="display: none"></div>
        </div>
    </div>
</div>
</body>
</html>